<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>VIFilter</filter-name>
    <filter-class>com.vaishuinfo.setting.VIFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VIFilter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.vaishuinfo.servlets.RegisterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnregisterServlet</servlet-name>
    <servlet-class>com.vaishuinfo.servlets.UnregisterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnregisterServlet</servlet-name>
    <url-pattern>/unregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PDFReportServlet</display-name>
    <servlet-name>PDFReportServlet</servlet-name>
    <servlet-class>com.vaishuinfo.servlets.PDFReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFReportServlet</servlet-name>
    <url-pattern>/PDFReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFOSReportServlet</display-name>
    <servlet-name>PDFOSReportServlet</servlet-name>
    <servlet-class>com.vaishuinfo.servlets.PDFOSReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFOSReportServlet</servlet-name>
    <url-pattern>/PDFOSReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFStockReportServlet</display-name>
    <servlet-name>PDFStockReportServlet</servlet-name>
    <servlet-class>com.vaishuinfo.servlets.PDFStockReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFStockReportServlet</servlet-name>
    <url-pattern>/PDFStockReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFPaymentReportServlet</display-name>
    <servlet-name>PDFPaymentReportServlet</servlet-name>
    <servlet-class>com.vaishuinfo.servlets.PDFPaymentReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFPaymentReportServlet</servlet-name>
    <url-pattern>/PDFPaymentReportServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>sunny</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>PDFTDSReportServlet</display-name>
    <servlet-name>PDFTDSReportServlet</servlet-name>
    <servlet-class>com.vaishuinfo.servlets.PDFTDSReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFTDSReportServlet</servlet-name>
    <url-pattern>/PDFTDSReportServlet</url-pattern>
  </servlet-mapping>
</web-app>